body {
	background-color: black;
	color: white;
	font-family: Consolas;
	padding: 0;
	margin: 0;
}

.box {
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;	
}

#vf {
	width: 500px;
	height: 500px;
}


#play {
	width: 500px;
}

.coolResult, .title {
	/*font-weight: bold;*/
	font-size: 20pt;
}
