body {
	background-color: black;
	color: white;
	font-family: Consolas;
	padding: 0;
	margin: 0;
}

.box {
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;	
}

#vf {
	width: 500px;
	height: 450px;
}


#play {
	width: 500px;
}

.coolResult {
	font-size: 14pt;
}

.title {
	font-size: 20pt;
}

#graph {
	height: 100px;
}

#lay {
	border-collapse: collapse;
	width: 100%;
}
#lay td {
	margin:0;
	padding:0;
	vertical-align: top;
}

.small {
	font-size: 10pt;
	opacity: 0.7;
}

.small.nogibberish {
	opacity: 1.0;
	font-weight: bold;
}
